html, body {
	height: 100%;
	font-family: "Helvetica";
	min-height: 690px;
}

#podatci {
	min-width: 980px;
}
#col1 {
	float: left;
	width: 225px;
	padding-left: 10px;
	background-color: rgb(53,55,77);
	color: rgb(250,250,250);
}

#col2 {
	float: left;
	width: 225px;
	height: 100%;
	background-color: rgb(68,124,172);
	color: white;
}

#col3 {
	min-width: 440px;
	margin-left: 450;
	padding: 10px 20px;
	color: rgb(100, 100, 100);
}

#naslov{
	height: 85px;
	width: 80%;
	font-size: 28px;
	margin-left: 15px;
	margin-right: 20px;
	padding-left: 20px;
	margin-top: 40px;
	border-bottom: 1px solid rgb( 100, 110, 135 );
}

#naslov1{
	height: 65px;
	width: 90%;
	border-bottom: 1px solid rgb( 100, 110, 135 );
	font-size: 24px;
	margin-top: 25px;
	margin-left: 5px;
	align-content: center;
	padding-top: 10px; 
	padding-left: 10px;
	padding-bottom: 10px; 
	align-content: center;
    color:rgb( 250,255,255 );
}

#naslov2 {
	height: 70px;
	width: 70%;
	border-bottom: 1px solid rgb( 100, 110, 135 );
	margin-top: 25px;
	padding-top: 25px; 
	padding-left: 25px;
	padding-bottom: 10px; 
	font-size: 22px;
	color:rgb( 250,255,255 );
	align-content: center;
	width: 225px;
}

#naslov3, #naslov4 { 
	font-size: 22px;
	color:rgb( 250,255,255 );
	height: 65px;
	width: 80%;
	padding: 30px 10px 40px 25px;
	margin-top: 30px;
	border-bottom: 1px solid rgb( 100, 110, 135 );
	align-content: center;
}

 #naslov5 {
	 font-size: 24px;
	 height: 245px;
	 width: 80%;
	 color: rgb( 245,250,255 );
	 padding: 20px 10px 20px 25px;
	 margin-top: 40px;
	 margin-right: 22px;
	 align-content: center;
	 border-bottom: 1px solid rgb( 100, 110, 135 );
 }
 
 #naslov22 {
	height: 65px;
	padding-top: 45px; 
	padding-left: 30px;
	padding-bottom: 10px; 
	font-size: 28px;
	align-content: center;
}

#p1, #p2, #p3, #p4, #p5, #p6, #p7, #p8, #p9 {
	background-color: rgb(68,124,172);
	color: white;
	font-size: 24px;	
}

#b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8, #b9 {
	background-color: rgb(68,124,172);
	color: rgb( 250,250,250 );
	font-size: 22px;
	height: 100px;
}

#p9, #b9, #b8 {
	height: 90px;
	background-color: rgb(68,124,172);
}

#r31{
	background-color: rgb(100,150,150);
	padding-left: 10px;	
	font-size: 24px;
}

#naslov3 {
	font-size: 24px;
	color: rgb( 250,250,250 );
}

#n1 th, #n2 th {
	font-size: 24px;
	color: rgb( 5,10,40 );
	height: 45px;
	padding-left: 15px;	
	padding-top: 15px;	
	border-radius: 5px;
}

#naslov33 {
	font-size: 34px;
	color: rgb( 5,10,40 );
	height: 85px;
	padding-left: 20px;	
	padding-top: 30px;	
}

#col1 ul li a {
	float: left;
	width: 100%;	
	line-height: 40px;
	list-style: none;
	display: block;
	color: rgb(185,190,195);
	font-weight: 600;
	text-decoration: none;	
	padding-left: 10px;	
}

#col1 ul li a:hover {
	width: 100%;
	background-color: rgb(70,80,94);
	margin: 5px 5px 5px 5px;
	padding-left: 20px;
}

#col1 ul li #inv {
	width: 100%;
	background-color: rgb(70,80,94);
	padding-left: 5px;	
}

#col1 ul li img {
	margin-left: 5px; 
	margin-right: 5px; 
    padding-left: 5px; 
	padding-right: 5px; 
}

#sort select{
	font-family: "Times New Roman";
	position: relative;
	color: rgb(250,250,250);
	width: 100%; 
	height:105px;
	line-height: 5px;
	font-size: 18px;
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: none;
	border-bottom: 1px solid rgb( 100, 110, 130 );
	border-top: 1px solid rgb( 100, 110, 130 );
	align-content: center;
	background-color: transparent;
	-moz-appearance:none;
	appearance:none;
	cursor:pointer;
}

#slikasort {
	position: absolute;
	left: 400px;
	top: 160px;
	margin:10px 10px 10px 10px;
}

#col2 a {
	text-decoration: none;
}

#col2 li {
	float: left;
	width: 100%;
	height: 70px;
	list-style: none;
	border-bottom: 1px solid rgb( 100, 110, 135 );
}

#col2 li .head_room{
	padding: 15px 0px 10px 31px;
	color:white;
	font-size:16px;
	font-weight: 600;
}

#col2 li .room{
	padding: 15px 0px 10px 31px;
	color:white;
	font-size:16px;
	font-weight: 600;
	height: 150px;
}

#col2 li p {
	padding: 0px 0px 16px 31px;
	font-size: 12px;
	font-weight: 600;	
}

#col2 #sort:hover {
	background-color: rgb( 85,150,200 );
}
	
#col2 li:hover {
	background-color: rgb( 69,160,205 );
}

#tekst2 {
	font-size: 24px;
	color:rgb( 124,180,204 );
	align-content: center;
}

#col3 a:hover {
	background-color: rgb( 235,85,95 );
}

#snimi{	
	top: 15px; 
	right: 15px;
	text-align: center;
	position: absolute; 
	align-content: center;
	font-size: 22px;
	font-weight: 500;
	text-decoration:none;
	padding: 20px 10px 25px 15px;
	color: white;
	border: 1px solid rgb(85,100,145);
	background-color: rgb(40,50,140);
	border-color: rgb(85,100,145);
	border-radius: 5px;
	line-height: 30px;
	height: 20px;
	width: 90px;
}


#t1, #t2 {	
	border-bottom: 1px solid rgb(222,222,222);
	width: 100%;
	padding-bottom: 50px; 
	background-color: rgb(242,242,242);
	margin-bottom: 5px;
	color: rgb( 0,10,40 );
}

#t1 th, #t2 th {
	text-align: left;
	padding:6px 0px 6px 30px;
	width: 33.33%;
	font-size: 14px;
	color: rgb( 0,10,40 );
}

#t1 td, #t2 td {
	padding:4px 0px 4px 30px;
	width: 33%;
	font-size: 12px;	
	font-weight: 600;	
}

#last td{
	padding-bottom: 15px;
}

#t3 {
	width: 100%;
	margin-top: 47px;
	text-align: left;
}

#t3 tr {
	border-bottom: 1px solid rgb( 100, 110, 135 );
}

#t3 td {
	font-size: 14px;
	color: rgb(102, 102, 102);
	height: 60px;
	padding:20px 0px 0px 20px;
}

#name, #exp, #st, #edit, #apply, #ed {
	width:40%;
	padding-left: 20px;
	padding-right: 10px;
	padding-top: 20px;
	font-size: 18px;
	color: rgb(240,250,250 );
	height: 60px;
	background-color: rgb(35,45,130);
	border-radius: 4px;
	align-content: center;
}

label {
	display: inline;
}

.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	background-color: white;
	border: 1px solid rgb(188,188,188);
	margin-left:4px;
	padding: 6px;
	/* border-radius: 3px; */
	display: inline-block;
	position: relative;
}

.regular-checkbox:checked + label {
	background-color: rgb(59, 153, 252);
	border: 1px solid rgb(59, 153, 252);	
}

.regular-checkbox:checked + label:after {
	color: white;
	content: "\2714";
	font-size: 14px;
	position: absolute;
	top: 1px;
	left: 1px;	
}
