.clickable {
    cursor: pointer;
}

#prijava{
	background: linear-gradient( to bottom, LightGray 30%, Silver 70% );
	width: 100%;
	height: 700px; 	
}

#log{
	font-size: 30px;
	background-color: "transparent";
	align-content: center;	
	text-align: center;	
	margin: auto;
	height: 50px; 	
}

#ul{
	font-size: 20px;
	/* align-content: center; */
	text-align: center;
	color: rgb( 5,10,70 );
}

#p1{
	font-size: 20px;
	align-content: center;	
	width: 400px;
	height: 40px; 
}

#mj1{	
	width: 400px;
	height: 500px; 	
	margin: auto;
	align-content: center;	
}

#f1 {
	font-family: "Times New Roman";
	font-size: 20px;
	margin: auto;
	position: absolute;
	border-radius: 15px;
	padding: 20px;
	top: 100px;
	width: 400px;
	height: 415px; 	
	align-content: center;	
	background-color: white;
}

#f2 {
	font-family: "Times New Roman";
	font-size: 20px;
	margin: auto;
	position: absolute;
	border-radius: 15px;
	padding: 20px;
	top: 100px;
	width: 500px;
	height: 1000px; 	
	align-content: center;	
	background-color: white;
}


#t1{
	width: 100%;
}

#rd{
	width: 90%;
	height: 20px;
}

#s1{
	width: 200px;
}
#s2{
	width: 200px;
}

#bt{
	width: 275%;
	height: 200%;
	padding: 10px;
	background-color: %#5577AA;
	align-content: center;	
	font-family: "Times New Roman";
	font-size: 24px;
	border-radius: 8px;
}


