
#poruke {	 
    width: 100%; 
	height:  70%;
	font-family: "Times New Roman";
	font-size: 24px;
	margin-left: auto; 
	margin-right: auto; 
	align-content: center;	
	text-align: center;	
	color: black;
	background-color: #FAFAFA;	
    position: absolute;
	left: 10px; 
    top: 200px;	
}

#p1, #p2, #p3, #p4, #p5 {	 
    width: 100%; 
	height: 150px; 
	font-family: "Times New Roman";
	font-size: 25px;	
	margin-top: 100px; 
	padding-top: 50px; 
	align-content: center;	
	text-align: center;	
	color: black;
	background-color: #FAFAFA;	
	border-bottom-style: ridge;
	border-bottom-width: 1px;
	border-bottom-color: rgb( 200, 200, 200 );
}
 
#mjesto1, #mjesto2, #mjesto3, #mjesto4, #mjesto5 {	 
    width: 100%; 
	height: 200px;
	font-family: "Times New Roman";
	font-size: 24px;
	margin-top: 100px; 
	padding-top: 50px; 
	align-content: center;	
	text-align: center;	
	color: black;
	background-color: #FAFAFA;	  
	border-bottom-style: ridge;
	border-bottom-width: 1px;
	border-bottom-color: rgb( 200, 200, 200 );
} 


#bt2 { 
	width: 300px;
	height: 70px;	
	font-family: "Times New Roman";
	font-size: 24px;
	border-radius: 1px; 	
	border-color: rgb( 244, 244, 244 ); 
	margin-left: auto; 
	margin-right: auto;
	align-content: left;
    color: rgb(5,10,40);
    background-color: transparent; 
    position: absolute;
    left: 80px;
    top: 80px;		
}

#lok3{
	align-content: left;
	width: 100%;
	height: 100px;
	font-family: "Times New Roman";
	font-size: 22px;
	display: block; 
	margin-left: auto; 
	margin-right: auto;
	border-top: 1px;
	border-bottom: 1px;
    padding-top: 50px;
    margin-top: 50px;
    border-color: rgb( 244, 244, 244 );	
} 

#d1{
	align-content: center;
	width:  500px;
	height: 150px;	
}

