
#f1 {
	width: 95%;
	height:40%; 	
	font-family: "Times New Roman";
	font-size: 20px;
	margin-left: 50px;
    margin-top: -80px; 	
	border-radius: 15px;
	padding: 20px;
	top: 100px;	
	align-content: left;	
	text-align: center;	 
	background-color: transparent;
	position: absolute;
	top: 90px;
	left: 5px;
} 
 
#f2{
  width:400px;
  height: 250px;	
  display: block;  
  margin-left: 500px;
  margin-top: 50px;  
  align-content: center;	
  text-align: center;	 
  background-color: transparent; 
  position: absolute;
  left: 10px;
  top: 200px;
}

#L1 {
	width: 55px;
	height: 55px; 	
	font-family: "Times New Roman";
	font-size: 20px;
	border-radius: 5px;
	padding: 5px;
	align-content:left;	
	text-align: center;	 
	margin-bottom: 20px;
	background-color: #1aebef;
	border-color: #daebfe;
	position: absolute;
	left: 460px; 
    top: -240px;
}

#L2 {
	width: 33px;
	height: 33px; 	
	font-family: "Times New Roman";
	font-size: 24px;
	border-radius: 5px;	
	text-align: center;	
    align-content:center;	 	
	margin-top: 15px; 	
	margin-bottom: 10px; 	
	background-color: white;
	border-color: #daebfe;
	position: absolute;
	left: 790px; 
    top:  270px;
}
 
#slk1{ 
  width:95%;	
  height: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;	 
  align-content: center;	
  position: absolute;    
  left: 5px;
  top: 10px;
}


#slk2{
  width: 230px;	
  height: 200px;	
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;	
  margin-top: 100px;
  position: absolute;  
  left: 100px;
  top: -80px; 
}
 
.clickable {
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

#labela1 {
	width: 30px;	
    height: 25px;
    border: 1px solid #ddeefb;
	border-radius: 8px;
    display: inline-block;
    padding: 10px 5px 5px 5px; 
	margin-left: 700px;	
	margin-top: 10px;	
	align-content: center;
	text-align: center;
    cursor: pointer;
	position: absolute;  
	top: 265px;
	left: 100px;
	background-color: #fafbfe;		
}

##labela2 {
	width: 30px;	
    height: 25px;
    border: 1px solid #ddeefb;
	border-radius: 8px;
    display: inline-block;
    padding: 10px 5px 5px 5px; 
	margin-left: 700px;	
	margin-top: 50px;	
	align-content: center;
	text-align: center;
    cursor: pointer;
	position: absolute;  
	top: 365px;
	left: 130px;
	background-color: #fafbfe;		
}

#kor{
	width: 500px;
	height: 150px;	
	align-content: center;
	text-align: center;
	background-color: transparent; 	 
	position: absolute;
	left: 540px;
    top: 480px;	
}
  
#ime {	 
    width: 400px; 
	height: 50px;
	font-family: "Times New Roman";
	font-size: 24px;
	margin-left: auto; 
	margin-right: auto; 
	align-content: center;	
	text-align: center;	
	color: black;
	background-color: #FAFAFA;	
    position: absolute;
	left: 10px; 
    top: -5px;	
}
 
#email {
	width: 400px; 
	height: 50px;
	font-family: "Times New Roman";
	font-size: 20px;	
	align-content: center;	
	text-align: center;	
	color: #051035;
	background-color: #FAFAFA;	
	position: absolute;
	left: 10px; 
    top: 65px;		
}
  
#f3{ 
  width: 100%;
  height: 400px;	
  display: block;  
  margin-left: 100px;
  margin-top: 50px;  
  align-content: left;	
  text-align: left;	 
  background-color: transparent; 
  position: absolute;
  left: -50px;
  top: 550px; 
} 

 
#txt1{
	width: 1000px; 
	height: 285px;
	font-family: "Times New Roman";
	font-size: 20px;
	padding-left: 10px;
	padding-top: 10px;	
	display: block; 
	margin-left: auto; 
	margin-right: auto;
    border-radius: 10px;	 
    align-content: center;
	text-align: left;
	position: absolute;
    left: 100px;
    top: 50px; 
    background-color: #FAFBFC;	
}


#f4{ 
  width: 90%;
  height: 150px;	
  display: block;  
  margin-left: 100px;
  margin-top: 50px;  
  align-content: center;	
  text-align: center;	 
  background-color: white; 
  position: absolute;
  left: 50px;
  top: 1210px;
}

#poruke{ 
  width: 1000px;
  height: 200px;	
  display: block;  
  margin-left: 100px;
  margin-top: 50px;  
  align-content: center;	
  text-align: center;	 
  border-radius: 10px;
  background-color: white; 
  position: absolute;
  left: 50px;
  top: 1000px;
}

#t2{
	width: 110%; 
	height: 400px;
	font-family: "Times New Roman";
	font-size: 22px;
	display: block; 
	border-style: ridge;
	border-color: LightGray;
	border-width: 2px;
	margin-left: auto; 
	margin-right: auto;	
    padding-top: 50px;
    margin-top: 50px;  
	background-color: white; 
    position: absolute;
    left: -50px;
    top: -10px; 
}

#rd {
	 width: 700px;
	 height: 100px; 	 	
	 border-style: none; 
	 border-width: 1px;     	 		 
	 align-content: center;	 
	 background-color: transparent;
	 position: absolute;
     left: 150px;
     top: 1000px; 	
}	 

#bt3 {	
    width: 90%;
	height: 50px;	
	font-family: "Times New Roman";
	font-size: 18px;
	border-radius: 5px;
	display: block; 
	margin-left: auto; 
	margin-right: auto;
	align-content: center;
    color: rgb(5,15,45);	
	background-color: transparent; 
	align-content: center;
	position: absolute;
    left: 50px; 
    top: 1000px;
     	
}


#dalje {
	width: 50%;
	height:100px; 	
	font-family: "Times New Roman";
	font-size: 20px;
	margin-left: 50px;
    margin-top: 50px; 	
	border-radius: 15px;
	padding: 20px;	
	align-content: center;	
	text-align: center;	 
	background-color: transparent;	
    position: absolute;
	top: 1500px;			
}

#t3{
	width: 700px;
	height: 200px;
	font-family: "Times New Roman";
	font-size: 24px;
	display: block; 
	margin-left: auto; 
	margin-right: auto;	
	text-align: right;
	vertical-align: text-top;
	padding-bottom: 70px;
	margin-top: 50px;
    border-top: 10px;
    border-bottom: 10px;
    position: absolute;	
	left:150px;
}

#rd1, #rd2, #rd3, #rd4, #rd5 {	 
	 width: 700px;
	 height: 80px; 	 
	 border-color: rgb(100, 100, 100);
	 border-bottom-style: ridge;
	 border-bottom-width: 2px;
	 border-bottom-color: rgb(180, 180, 180);
	 vertical-align: middle;	 	 
	 padding-top: 50px;
	 margin-top: 50px;		 
   }                                                  

#rdkol {
	 font-family: "Times New Roman";
	 font-size: 18px;
	 width: 300px;
	 height: 200px; 	 
	  align-content: center;	 	 
	 text-align: center;	
	 padding-bottom: 70px;
	 margin-bottom: 50px;	
     position: relative;
	 left: 100px;  
     top: -400px; 
} 
  
   
#rdbr {
	 width: 500px;
	 height: 300px; 	
	 font-family: "Times New Roman";
	 font-size: 18px;	
     align-content: center;	 	 
	 text-align: center;	
	 padding-bottom: 70px;
	 margin-top: 400px;	
	 margin-left: 400px;	
     position: absolute;
	 left: 50px;
     top: 1000px;	 
	 background-color: #F5FFFA;	
} 
 
 
#rdb{ 
	 width: 250px;
	 height: 50px; 	 	
	 font-family: "Times New Roman";
	 font-size: 18px;
	 background-color: transparent;  
	 align-content: center;	  	
	 text-align: center;	  	
	 padding-top: 70px;
	 padding-bottom: 70px;
	 margin-bottom: 50px;	
     position: absolute;
	 left: -5px;  
     top: -1800px; 
} 
  
#mj2{
	width: 300px;
	height: 50px; 	 	
	align-content: center;	
	vertical-align: middle;
    background-color: #DDDDDD; 
    position: absolute;
	left: 500px;  
    top: 400px;	 	 	
}
 
#unos{
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

#bt {
	width: 180px;
	height: 50px;	
	font-family: "Times New Roman";
	font-size: 18px;
	color: rgb(240,240,245);	
	background-color: #0077A5;	
	border-color: white;
	position: relative;
	align-content: left;
    left: -450px; 
    top: -1000px; 
}

#bt2 {
	width: 200px;
	height: 50px;	
	font-family: "Times New Roman";
	font-size: 18px;
	border-radius: 5px;
	display: block; 
	margin-left: auto; 
	margin-right: auto;
	align-content: center;
    color: rgb(5,15,45);	
	background-color: #FAFBFC; 
	align-content: center;
	position: absolute;
    left: 500px;
    top: 50px;	
}
   


#forma{
	font-family: "Times New Roman";
	font-size: 18px;
}

/* ____________________________________________________________________ */


#log{
	font-size: 30px;
	background-color: "transparent";
	align-content: center;	
	text-align: center;	
	margin: auto;
	height: 50px; 	
}

#ul{
	font-size: 20px;
	/* align-content: center; */
	text-align: center;
	color: rgb( 5,10,70 );
}

#p1{
	font-size: 20px;
	align-content: center;	
	width: 400px;
	height: 40px; 
}

#mj1{	
	width: 400px;
	height: 500px; 	
	margin: auto;
	align-content: center;	
}


#f22 {
	font-family: "Times New Roman";
	font-size: 20px;
	margin: auto;
	position: absolute;
	border-radius: 15px;
	padding: 20px;
	top: 100px;
	width: 500px;
	height: 1000px; 	
	align-content: center;	
	background-color: white;
}


#t1{
	width: 100%;
}

#s1{
	width: 200px;
}
#s2{
	width: 200px;
}



